* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 100%;
    font-size: 16px;
}
body {
    font-size: 1em;
    padding: 50px;
    &:before {
        content: '';
        width:100px;
        height: 100px;
        background: url('../img/icons/folder.svg') center top / cover no-repeat;
    }
}